.content__posts{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-form__login{
    width: 100%;
    max-width: 500px;
    
}
.content-form__login label{
    font-size: 1.5rem;
    
}